#map {
	  height: 100%;
	  
}

html, body, .container{
	height: 100%;
}

.container{
	position: relative;
}

.places-gone{
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	
}

.location, .place{
	width: 150px;
	background-color: black;
	color: white;
	margin: auto;
	margin-top: 1px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-sleect: none;
}

.place:hover{
	background-color: green;
	cursor: pointer;
}

.title, .details{
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}

h2, h3{
	padding: 0;
	margin: 0;
}

.locationTypes{
	background-color: #ccc;
}

.menuControl{
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #ccc;
	margin: 0;
	padding: 0;
}

.show{
	display:block;
}

.menuControlPushed{
	left: 160px;
}